.navbar {
    display: flex;
    justify-content: center; /* Horizontally center align items */
    align-items: center; /* Vertically center align items */
    position: fixed;
    width: 100%; /* Ensure the nav spans the entire width */
    z-index: 150;
    background-color: #000000; /* Example background color */
    padding-top:5px;
    padding-bottom: 5px;
    margin-top: 30px;
}

.navbar a {
    margin: 0 10px; /* Add spacing between the links */
    text-decoration: none;
    font-family: "Basic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000; /* Example link color */

}

.navbar a {
    margin: 0 10px; /* Adjust spacing between links as needed */
    color: rgb(253, 253, 253);
    font-size: 18px;
    text-decoration: none; /* Remove default underline */
}

.navbar a:active {
    color: black; /* Active link color */
}


.header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center; /* Horizontally center align items */
    align-items: center; /* Vertically center align items */
    background-color: white;
}

.lailaha {
    height: 30px; 
    height: 80px;
   
}


